<?php
/*switch($zone) {
    case 1: // affichage Slider
        if(empty($modules)) {
            echo '<div></div>';
        } else if(count($modules) > 1) { // Slider JS
            echo '<ul class="clearfix">';
                foreach($modules as $module):
                    if(file_exists(WWW_ROOT . 'img/images/' . $module['ModuleGallery'][0]['image'])) {
                        $model = Inflector::tableize($module['Content']['model']);
                        echo '<li>';
                            echo $this->element("Modules/Site/site_".$model, array('module' => $module));
                        echo '</li>';
                    }
                endforeach;
            echo '</ul>';
        } else { // Image unique
            foreach($modules as $module):
                $model = Inflector::tableize($module['Content']['model']);
                echo '<div class="module '. $model .'">';
                    // Affichage spécifique du module
                    echo $this->element("Modules/Site/site_".$model, array('module' => $module));
                echo '</div>';
            endforeach;
        }
        break;
    default: // autres*/
        foreach($modules as $module):
            $model = Inflector::tableize($module['Content']['model']);
            echo '<div class="module '. $model .'">';
                // Affichage spécifique du module
                echo $this->element("Modules/Site/site_".$model, array('module' => $module));
            echo '</div>';
        endforeach;
        /*break;
}*/
?>