<?php
// Titrage + boutons d'actions + sous-nav
echo $this->start('header');
    echo '<h1>Gestion des médias</h1>';
    echo '<h2>Visualisez l\'ensemble de vos médias</h2>';
echo $this->end();
?>
<div style="height: 600px;">
    <iframe name="kcfinder_iframe" src="/js/kcfinder-2.51/browse.php?type=files&lang=fr&dir=medias/public" frameborder="0" width="100%" height="100%" marginwidth="0" marginheight="0" scrolling="no" />
</div>