<h5><?php echo $module['ModuleLien']['name']; ?></h5>
<?php echo $module['ModuleLien']['content']; ?>
<p>
    <strong>Lien :</strong>
    <?php echo $this->Html->link('voir', array(
        'admin' => false,
        'controller' => 'pages',
        'action' => 'display',
        $module['Page']['alias']
    )); ?>
</p>