/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 févr. 2015, 17:04:43
    Author     : carlos-ignis
*/

// Configuration largeur maximum
/*$width-constrained: 960px;
$width-constrained-large: 1000px;*/
// Couleurs
$noirPure: #000;
$blanc: #fff;
$orange: #ed7f23;
$bleuCiel: #0f99d6;
$bleu: #0f99d6;
$rouge: #cc1111;
// Familles de font
/*$font-texte: "TitilliumWeb", Arial, sans-serif;*/
$font-texte: "Oswald", Arial, sans-serif;
/*$font-titre: "TitilliumWeb", Arial, sans-serif;*/