/**
 * GÉNÉRAL
 **/
body {
    background-color: #EAF0F1;
}


/**
 * PAGE LOGIN
 **/
#login {
    position: relative;
    /*top: 162px;*/
    width: 260px;
    margin: 162px auto 0;
    padding: 30px 20px 10px;
    background-color: #141414;
    border-bottom: 4px solid #21b9d9;
    
    -webkit-box-shadow: 0 0 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 60px rgba(0,0,0,.3);
    box-shadow: 0 0 60px rgba(0,0,0,.3);
}
#login:before {
    content: url(../img/admin/papillon-login.png);
    position: absolute;
    top: -30px;
    left: -22px;
}
#login input[type="text"], #login input[type="password"] {
    color: #fff;
    background-color: #000;
    padding: 10px 6px;
    border: none;
    
    -webkit-box-shadow: 1px 1px 0 #212121;
    -moz-box-shadow: 1px 1px 0 #212121;
    box-shadow: 1px 1px 0 #212121;
}
#login .add-on {
    padding: 10px 6px;
    background-color: #000;
    border: none;
    
    -webkit-box-shadow: 0 1px 0 #212121;
    -moz-box-shadow: 0 1px 0 #212121;
    box-shadow: 0 1px 0 #212121;
}
/*#login .checkbox {
    text-align: left;
    margin-left: 6px;
    margin-bottom: 25px;
    margin-top: 5px;
}
#login .checkbox label {
    color: #fff;
    font-size: .9em;
}*/
#login-copyright {
    width: 300px;
    margin: 5px auto 0;
    text-align: center;
    font-size: .9em;
}
#login button {
    margin-top: 20px;
}

/**
 * HEADER + NAV
 **/
/*header[role="banner"] {
    background-color: #eaf0f1;
}*/
nav[role="navigation"] {
    position: relative;
    /*margin: 10px 10px 32px;*/
    margin: 0 0 32px;
    background-color: #15151d;
}
#nav-home {
    float: left;
    margin: 0;
}
#nav-main {
    float: right;
    margin: 0;
}
#nav-home a { border-right: 1px solid #515a77; }
#nav-main a { border-left: 1px solid #515a77; }
nav[role="navigation"] li {
    display: inline;
    float: left;
}
nav[role="navigation"] a {
    font-size: 1em;
    /*font-weight: 700;*/
    font-weight: 400;
    color: #fff;
    
    position: relative;
    display: inline-block;
    height: 39px;
    line-height: 43px;
    padding: 0 15px;
    border-bottom: 7px solid #515a77;
    
    -webkit-transition: border .3s ease, height .3s ease, line-height .3s ease, color .3s ease;
    -moz-transition: border .3s ease, height .3s ease, line-height .3s ease, color .3s ease;
    transition: border .3s ease, height .3s ease, line-height .3s ease, color .3s ease;
}
nav[role="navigation"] li.current a, nav[role="navigation"] a:hover {
    border-bottom: 4px solid #23bad9;
    height: 42px;
    text-decoration: none;
    color: #23bad9;
}
nav[role="navigation"] li.current a {
    line-height: 46px;
}
nav[role="navigation"] li.home a {
    font-weight: 600;
    background: url(../img/admin/menu-home.gif) no-repeat 7px center;
    padding-left: 42px;
}
nav[role="navigation"] li.current a:after {
    content: url(../img/admin/menu-current.gif);
    position: absolute;
    top: 26px;
    left: 50%;
    margin-left: -10px;
}

/**
 * CONTENT
 **/
#content {
    background-color: #eaf0f1;
}
#content header {
    position: relative;
    width: 96%;
    margin: 0 auto 33px;
    background-color: #fff;
}
#content header h1 {
    
    font-size: 2.5em; /* 40px */
    font-weight: 300;
    height: 65px;
    line-height: 65px;
    text-transform: none;
    
    color: #15151d;
    margin: 0;
    border: 1px solid #eaf0f1;
    padding: 0 22px;
}
#content header h2, #sous-nav li p {
    position: relative;
    color: #aaa;
    font-size: 1.142857142857143em; /* 16px */
    /*font-weight: 600;*/
    font-weight: 400;
    height: 46px;
    line-height: 46px;
    margin: 0;
    padding: 0 22px;
}
#sous-nav li p { padding: 0 5px; }
#content > div h2, #content > form > div h2 {
   color: #f7ab00;
   font-size: 1.285714285714286em; /* 18px */
   font-weight: 800;
   height: 40px;
   line-height: 40px;
   padding-left: 42px;
   margin: 0 0 10px;
   background: url(../img/admin/sprite-content-h2.gif) no-repeat 0 0 #15151d;
}
#content h2.list { background-position: 0 0; }
#content h2.add { background-position: 0 -38px; }
/*#content > div h3 {
    font-size: 2.142857142857143em; /* 30px */
   /* color: #333;
    font-weight: 200;
}*/
#content > div h3 {
    font-size: 1.5em;
    margin: 0;
    color: #333;
    font-weight: 800;
}
#content > div h4 {
    font-size: 1.1em;
    margin: 0 0 10px;
    color: #333;
    font-weight: 800;
}
#content.accueil header {
    padding-bottom: 36px;
}
#sous-nav {
    display: inline-block;
    margin: 0;
    float: left;
}
#sous-nav li {
    display: inline-block;
    float: left;
    margin: 0 17px;
    height: 46px;
    line-height: 46px;
}
#sous-nav a {
    position: relative;
    color: #aaa;
    font-size: 1.142857142857143em; /* 16px */
    /*font-weight: 600;*/
    font-weight: 400;
}
#sous-nav a.current {
    color: #f7ab00;
}
#sous-nav a.current:after, #content header h2:after, #sous-nav li p:after {
    content: url(../img/admin/sous-menu-current.gif);
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -14px;
}
#content header h2:after {
    left: 60px;
    top: 28px;
}
#sous-nav li p:after {
    left: 42px;
    top: 28px;
}
#nav-actions {
    float: right;
    margin: 0;
}
#nav-actions li {
    display: inline-block;
    float: left;
    margin: 0 0 0 1px;
}
#nav-actions a, #nav-actions input[type="submit"] {
    display: inline-block;
    height: 46px;
    line-height: 46px;
    padding: 0 22px;
    background-color: #f7ab00;
    border: none;
    
    color: #fff;
    font-size: .9285714285714286em; /* 13px */
    font-weight: 600;
    text-transform: uppercase;
}
#nav-actions li.other a {
    background-color: #515a77;
}
#nav-actions a:hover, #nav-actions input[type="submit"]:hover {
    background-color: #b37c01;
    text-decoration: none;
}
#nav-actions li.other a:hover {
    background-color: #15151d;
}
#content > div, #content > form > div {
    width: 96%;
    margin: 0 auto;
}
#content .read_more {
    display: inline-block;
    float: right;
    height: 46px;
    line-height: 46px;
    padding: 0 22px;
    margin-right: -12px;
    margin-bottom: -12px;
    text-transform: uppercase;
    background-color: #F7AB00;
    
    font-size: .928571em;
    font-weight: 600;
    color: #fff;
}

/**
 * PAGES
 */
.pages-sortable {
    margin: 0;
}
.pages-sortable > li {
    position: relative;
    display: block;
    height: 44px;
    line-height: 44px;
    padding-left: 21px;
    margin: 0;
    border-top: 1px solid #dae3e4;
    border-right: 1px solid #dae3e4;
    border-left: 7px solid #dae3e4;
    background-color: #fff;
}
.pages-sortable > li.last {
    border-bottom: 1px solid #dae3e4;
}
.pages-sortable p {
    display: inline;
    font-size: 1.142857142857143em; /* 16px */
    font-weight: 600;
    color: #1c2234;
    
    -webkit-transition: padding-left 1s ease;
    -moz-transition: padding-left 1s ease;
    transition: padding-left 1s ease;
}
.pages-sortable p.child {
    font-weight: 200;
    font-size: 1.071428571428571em; /* 15px */
}
.pages-sortable .disabled {
    text-decoration: line-through;
}
.pages-sortable ul {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
}
.pages-sortable li li {
    float: left;
    display: block;
    height: 44px;
    line-height: 44px;
    margin: 0;
    border-left: 1px solid #fff;
}
.pages-sortable li.hide {
    display: none;
}
.pages-sortable a {
    display: block;
    height: 100%;
    padding: 0 20px;
    
    color: #fff;
    font-size: .9285714285714286em; /* 13px */
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}
.pages-sortable a.half {
    height: 22px;
    line-height: 22px;
    text-align: center;
}
.pages-sortable a.up, .pages-sortable a.down {
    width: 36px;
    padding: 0;
    overflow: hidden;
    background: url(../img/admin/sprite-page-order.png) no-repeat;
    text-indent: -100em;
}
.pages-sortable a.up {
    border-bottom: 1px solid #fff;
    background-position: center 0px;
}
.pages-sortable a.down {
    background-position: center -22px;
}
.pages-sortable a.online, .pages-sortable a.offline {
    width: 36px;
    padding: 0;
    overflow: hidden;
    background: url(../img/admin/sprite-page-active.png) no-repeat;
    text-indent: -100em;
}
.pages-sortable a.online { background-position: 0 0; }
.pages-sortable a.offline { background-position: -36px 0; }
.pages-sortable a:hover {
    background-color: #2c4694;
}
.pages-sortable > li:hover {
    height: 45px;
    line-height: 46px;
    border-top: none;
    border-bottom: none;
    
    background-color: #23bad9;
    border-color: #23bad9;
    border-left-color: #2c4694;
}
.pages-sortable > li:hover .hide {
    display: inline-block;
}
.pages-sortable > li:hover li {
    height: 45px;
    line-height: 46px;
    border-color: #96e6f6;
}
.pages-sortable li.options a {
    overflow: hidden;
    padding: 0;
    width: 44px;
    text-indent: -100em;
    background: url(../img/admin/sprite-page-options.png) no-repeat 0px center;
}
.pages-sortable > li:hover li.options a {
    background-position: -44px center;
}
.pages-sortable > li:hover p {
    /*color: #000;*/
    padding-left: 10px;
}
.choose_layout {
    padding: 6px;
    display: inline-block;
    height: 132px;
    background: url(../img/admin/fond-layout.gif) repeat-y left;
    border: 1px solid #ddd;
    float: left;
    margin-right: 10px;
}
.choose_layout input {
    display: inline-block;
    float: left;
    margin: 57px 14px 0 1px;
    line-height: 144px;
}
.choose_layout label {
    float: left;
}
.module, .block{
    /*padding: 12px;*/
    margin-bottom: 10px;
    background-color: #fff;
    
    /*-webkit-border-radius: 2px;
    border-radius: 2px;*/
}
.block {
    padding: 12px;
}
.btn-group .add-module {
    display: inline-block;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #F7AB00;
    
    -webkit-border-radius: 0;
    border-radius: 0;
    /*-webkit-border-radius: 2px;
    border-radius: 2px;*/
}
.btn-group.open .add-module, .add-module:hover {
    box-shadow: none;
    background-color: #B37C01;
}
.module > aside {
    float: left;
}
.module > aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.module > aside li {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eaf0f1;
}
.module > aside a {
    display: block;
    width: 38px;
    height: 38px;
    border-right: 1px solid #eaf0f1;
    overflow: hidden;
    text-indent: -100em;
    background: url(../img/admin/sprite-module-actions.png) no-repeat;
}
.module > aside a:hover {
    background-color: #F7AB00;
}
.module > aside li.edit a   { background-position: 0 0; }
.module > aside li.remove a { background-position: -38px 0; }
.module > aside li.up a     { background-position: -76px 0; }
.module > aside li.down a   { background-position: -114px 0; }

.module > aside li.edit a.disabled   { background-position: 0 -38px; }
.module > aside li.remove a.disabled { background-position: -38px -38px; }
.module > aside li.up a.disabled     { background-position: -76px -38px; }
.module > aside li.down a.disabled   { background-position: -114px -38px; }

.module > section {
    padding: 12px;
    margin-left: 39px;
}


/**
 * TABLES (listing)
 */
.liste {    
    position: relative;
    border-bottom: 1px solid #dae3e4;
}
.liste tbody tr {
    height: 44px;
    line-height: 44px;
    border-top: 1px solid #dae3e4;
    border-right: 1px solid #dae3e4;
    border-left: 7px solid #dae3e4;
    background-color: #fff;
}
.liste--large tbody tr {
    height: 88px;
    line-height: 88px;
}
.liste th {
    text-align: left;
    padding: 5px 21px;
}
.liste thead tr th:first-child {
    padding-left: 25px;
}
.liste td {
    text-align: left;
    padding: 0 21px;
}
.liste th.center, .liste td.center { text-align: center; }
.liste th.right, .liste td.right { text-align: right; }
.liste .btn-action {
    border-left: 1px solid #dae3e4;
    padding: 0;
}
.liste .btn-action a, .liste .btn-action button {
    display: block;
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    border: none;
    /*background-color: #dae3e4;
    color: #515A77;*/
    background-color: #fff;
    color: #23BAD9;
    
    font-size: .928571em;
    font-weight: 600;
    text-transform: uppercase;
}
.liste .btn-action a:hover, .liste .btn-action button:hover {
    background-color: #23BAD9;
    color: #fff;
    text-decoration: none;
}

.update-list {
    position: relative;
}
.update-list-loader {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .75);
}
.update-list-loader:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
    background: url("../img/admin/ajax-loader.gif");
}


.liste .sortable {
    padding: 0;
    line-height: 1;
    text-align: right;
}

.liste .partners.sortable {
    padding: 0;
    line-height: 1;
    text-align: inherit;
}
.sortable__up, .sortable__down {
    display: inline-block;
    width: 36px;
    height: 22px;
    line-height: 22px;
    padding: 0;
    overflow: hidden;
    background-image: url(../img/admin/sprite-page-order-black.png);
    background-repeat: no-repeat;
    background-color: #fff;
    border: none;
    /*text-align: center;*/
    text-indent: -100em;
}
.sortable__up:hover, .sortable__down:hover {
    background-color: #23BAD9;
}
.sortable__up {
    border-bottom: 1px solid #fff;
    background-position: 0px 0px;
}
.sortable__down {
    background-position: 0px -22px;
}
.sortable__up--disabled {
    background-position: -36px 0px;
}
.sortable__down--disabled {
    background-position: -36px -22px;
}

/* Boutons principaux des formulaires (enregistrer, annuler...) */
.button {
    display: inline-block;
    height: 46px;
    line-height: 46px;
    padding: 0 22px;
    background-color: #F7AB00;
    color: #fff;
    font-size: .928571em;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
}
.button:hover { background-color: #b37c01; }
.button--secondary { background-color: #515A77; }
.button--secondary:hover { background-color: #15151D; }



/* Users */
.user {
    background-color: #fff;
    overflow: hidden;
}
.user figure {
    position: relative;
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin: 0 auto 10px;
    border: 4px solid #b7c4c7;
    background: url(../img/avatars/default.gif) no-repeat -1px top;
    
    -webkit-border-radius: 60px;
    border-radius: 60px;
    
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.user:hover figure {
    /*-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);*/
    border-color: #F7AB00;
}
.user:hover p {
    color: #F7AB00;
}
.user small {
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 2px 0;
    border-bottom: 1px solid #EAF0F1;
    /*background-color: #23BAD9;*/
    
    text-align: center;    
    font-size: .8571428571428571em;
    font-weight: 400;
    color: #F7AB00;
    text-transform: uppercase;
}
.user p {
    display: block;
    width: 90%;
    margin: 0 auto 14px;
    height: 53px;
    line-height: 53px;
    font-size: 1.285714285714286em; /* 18px */
    font-weight: 400;
    text-align: center;
    
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.user p span {
    display: inline-block;
    line-height: 1.2;
    vertical-align: middle;
}
.user p strong {
    font-weight: 600;
}
.user ul {
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    border-top: 1px solid #EAF0F1;
}
.user li {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 43%;
    float: left;
    border-right: 1px solid #EAF0F1;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.user li:last-child {
    width: 14%;
    border-right: none;
}
.user li a {
    display: inline-block;
    width: 100%;
    height: 48px;
    line-height: 48px;
    
    text-align: center;
    font-size: .9285714285714286em; /* 13px */
    font-weight: 600;
    color: #23bad9;
    text-transform: uppercase;
}
.user li a:hover {
    background-color: #23bad9;
    color: #fff;
    text-decoration: none;
}

/* Formulaires */
label,
select,
button,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea
{
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
}



/**
 * APPELS AJAX
 */
#languages-list {
    display: none;
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .5% 0;
    background-color: rgba(0,0,0,.9);
}
#languages-list h1 {
    color: #fff;
    text-transform: none;
    font-size: 1em;
    font-weight: 600;
    text-shadow: none;
    margin: 5px 0 0 2%;
    padding-bottom: 10px;
}
#languages-list ul {
    margin: 0 2% 10px;
    list-style: none;
}
#languages-list li {
    display: inline-block;
    float: left;
    margin-right: 1%;
}
#languages-list a img {
    display: block;
    opacity: .25;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
#languages-list a.active img, #languages-list a:hover img {
    opacity: 1;
}
#languages-list a.fermer {
    position: absolute;
    top: 5px;
    right: 15px;
    
    color: #fff;
}

/* Liste de miniatures (module galerie et autres) */
.list-thumbs {
    margin: 0;
    padding: 0;
}
.list-thumbs li {
    float: left;
    width: 80px;
    margin: 0 5px 0 0;
    padding: 2px;
    border: 1px solid #ccc;
    
    list-style: none;
}
.list-thumbs img {
    display: block;
    width: 100%;
}



/**
 * MEDIA-QUERIES
 */
@media screen and (max-width: 768px) {
    #nav-main, #nav-home .languages {
        display: none;
    }
}
@media screen and (min-width: 961px) {
    #content > header, #content > form > header, #content > div, #content > form > div {
        width: 960px;
    }
}
@media screen and (min-width: 1281px) {
    /*body {
        font-size: 15px;
    }*/
    #content > header, #content > form > header, #content > div, #content > form > div {
        width: 74.94145199063232%; /* proportion 960px */
    }
}