div#image_preview div {
    padding: 0 !important;
}

a.crop_input_remove {
    display: block;
}

/** THE MODAL CSS **/

.old_modalWrap { /* The div that shows/hides. */
    display:none; /* starts out hidden */
    z-index:40001; /* High z-index to ensure it appears above all content */
    margin: 0;
    padding: 0;
}

.old_modalOverlay { /* Shades out background when selector is active */
    position:fixed;
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    background-color:black;
    opacity:.6; /* Sets opacity so it's partly transparent */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE transparency */
    filter:alpha(opacity=50); /* More IE transparency */
    z-index:40001;
    top: 0;
    left: 0;
}

.old_vertical-offset { /* Fixed position to provide the vertical offset */
    position:fixed;
    bottom:10%;
    margin: 0;
    padding: 0;
    /* width:100%; */
    z-index:40002; /* ensures box appears above overlay */
}

.old_modal { /* The actual box, centered in the fixed-position div */
    /*width:405px;  Whatever width you want the box to be */
    position:relative;
    margin:0 auto; /* Everything below is just visual styling */
    background-color:white;
    padding:10px;
    border:1px solid black;
}
