@charset "UTF-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 mai 2014, 10:13:42
    Author     : carlos-ignis
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 févr. 2015, 17:04:43
    Author     : carlos-ignis
*/
/*$width-constrained: 960px;
$width-constrained-large: 1000px;*/
/*$font-texte: "TitilliumWeb", Arial, sans-serif;*/
/*$font-titre: "TitilliumWeb", Arial, sans-serif;*/
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

/*.container--large{
    width: 100%;
}
.container--site{
    max-width: 1060px;
    margin: auto;
    background-color: rgba(255,255,255, 0.3);
    padding-top: 8px;
}*/
body {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 100%;
  height: 100%;
}
@media screen and (max-width: 760px) {
  body {
    padding: 0;
    /*        background: url('../img/fond_ecran.jpg') no-repeat;
            background-size: 100% auto;*/
  }
}

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

iframe {
  max-width: 100%;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
          box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 mai 2015, 11:16:12
    Author     : carlos-ignis
*/
.l-default {
  /*background: $blanc;*/
  height: 100%;
}

.l-default__left {
  width: 30%;
  height: 100%;
  float: left;
}
@media screen and (max-width: 1200px) {
  .l-default__left {
    width: 100%;
    max-height: 400px;
  }
}

.l-default__right {
  overflow: auto;
  width: 70%;
  height: 100%;
  float: right;
}
@media screen and (max-width: 1200px) {
  .l-default__right {
    width: 100%;
    height: auto;
    overflow: visible;
  }
}

.l-default__right--accueil {
  overflow: auto;
  width: 70%;
  height: 100%;
  float: right;
  background-image: url("../img/fond.png");
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1200px) {
  .l-default__right--accueil {
    overflow: hidden;
    width: 100%;
    height: 80%;
  }
}
@media screen and (max-width: 760px) {
  .l-default__right--accueil {
    height: 60%;
    width: 100%;
  }
}

.accueil-title {
  line-height: 60px;
  margin-top: 10%;
  width: 60%;
  float: left;
  margin-top: 10%;
}
@media screen and (max-width: 760px) {
  .accueil-title {
    padding: 0;
  }
}
.accueil-title > h1 {
  font-size: 50px;
  font-family: Oswald;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 4px 20.58px rgba(35, 31, 32, 0.75);
}
@media screen and (max-width: 1200px) {
  .accueil-title > h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .accueil-title > h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 480px) {
  .accueil-title > h1 {
    font-size: 30px;
  }
}

.accueil__title--top {
  width: 100%;
  margin: auto;
}
@media screen and (max-width: 760px) {
  .accueil__title--top {
    width: 100%;
    text-align: center;
  }
}

.accueil__title--bottom {
  width: 100%;
  margin: auto;
}
@media screen and (max-width: 760px) {
  .accueil__title--bottom {
    width: 100%;
    text-align: center;
  }
}

.accueil-logo {
  position: relative;
  margin-left: 1%;
  top: 10%;
  width: 20%;
  float: left;
}
.accueil-logo > img {
  width: 90%;
}

.accueil-img {
  margin: auto;
  width: 50%;
  text-align: center;
}
.accueil-img > img {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .accueil-img > img {
    width: 80%;
  }
}
@media screen and (max-width: 760px) {
  .accueil-img {
    width: 50%;
  }
}

.accueil-img-france {
  position: absolute;
  width: 15%;
  margin: 0;
  right: 0;
  top: 10%;
}

.accueil-partenaires {
  overflow: auto;
  position: absolute;
  width: 280px;
  bottom: 0;
  right: 0;
  background: #fff;
}
.accueil-partenaires > ul {
  margin: 0;
  padding: 0;
}
.accueil-partenaires > ul > li {
  padding: 10px 10px;
  list-style: none;
  display: inline;
  float: left;
}
.accueil-partenaires > ul > li > a > img {
  height: 30px;
}
@media screen and (max-width: 1200px) {
  .accueil-partenaires {
    display: none;
  }
}

/* formulaire de contact */
#ContactContactForm {
  padding: 0 0 0 25%;
}
@media screen and (max-width: 1200px) {
  #ContactContactForm {
    padding: 5%;
  }
}

/* module article */
.m-article {
  padding: 0;
  width: 70%;
  margin: auto;
  font-family: Oswald;
  font-weight: 300;
  color: #000;
  font-size: 17px;
}

.mentions-link {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  padding: 1%;
}
@media screen and (max-width: 760px) {
  .mentions-link {
    position: relative;
  }
}

/* Menu */
header[role="banner"] {
  /*margin-bottom: 38px;*/
}

nav[role="navigation"] {
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 3%;
  right: 1%;
  z-index: 100000;
}
@media screen and (max-width: 960px) {
  nav[role="navigation"] {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    background: #0f99d6;
  }
}

nav[role="navigation"] ul {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 960px) {
  nav[role="navigation"] ul {
    width: 100%;
  }
}

nav[role="navigation"] .main > li {
  position: relative;
  list-style: none;
  /*display: inline;*/
  float: left;
}
@media screen and (max-width: 960px) {
  nav[role="navigation"] .main > li {
    width: 100%;
    /*text-align: center;*/
  }
}

nav[role="navigation"] .main > li > a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 16px;
  color: #888;
  font-size: .9125em;
  text-decoration: none;
}
@media screen and (max-width: 960px) {
  nav[role="navigation"] .main > li > a {
    color: #fff;
  }
}

nav[role="navigation"] .main > li > a:hover, nav[role="navigation"] .main > li > a.active {
  /*background-color: #aaa;*/
  color: #000;
}

nav[role="navigation"] ul.main ul {
  display: none;
}

nav[role="navigation"] ul.main > li:hover > ul {
  z-index: 100;
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  padding: 0;
}

nav[role="navigation"] li li {
  border-bottom: 1px solid #ddd;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav[role="navigation"] li li a {
  display: inline-block;
  width: 275px;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  font-size: .875em;
  text-decoration: none;
  background: #eee;
}

nav[role="navigation"] li li a:hover {
  color: #fff;
  background-color: #aaa;
}

/* responsive */
@media screen and (max-width: 960px) {
  .menu-button-container {
    display: none !important;
  }
}

.menu-button-container-small {
  display: none !important;
}
@media screen and (max-width: 960px) {
  .menu-button-container-small {
    display: block !important;
  }
}

@media screen and (max-width: 960px) {
  .menu-item {
    display: none;
  }
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 avr. 2016, 14:56:12
    Author     : carlos-ignis
*/
.produit-link {
  height: 50%;
  overflow: auto;
}
@media screen and (max-width: 1200px) {
  .produit-link {
    width: 50%;
    height: 100%;
    float: left;
  }
}
@media screen and (max-width: 760px) {
  .produit-link {
    width: 100%;
  }
}
.produit-link > .produit-link__content {
  /*padding: 10% 5% 10% 10%;*/
  padding-top: 25px;
  height: 40%;
  overflow: hidden;
  line-height: 0;
  text-align: right;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(237, 127, 35, 0.75)), to(transparent));
  background: -webkit-linear-gradient(top, rgba(237, 127, 35, 0.75), transparent);
  background: linear-gradient(to bottom, rgba(237, 127, 35, 0.75), transparent);
}
.produit-link > .produit-link__content > h1 {
  /*padding: 0;*/
  /*margin: 10% 19% 0 0;*/
  font-family: Oswald;
  font-size: 16px;
  color: #343535;
}
.produit-link > .produit-link__content > a {
  padding: 0;
  margin: 0 1% 0 0;
  color: #fff;
  font-family: Oswald;
  font-size: 32px;
  text-decoration: none;
}
.produit-link > .produit-link__content > img {
  /*width: 90%;*/
  margin: 0 5% 1% 0;
}

.produit-link__content > h1 {
  margin-right: 12%;
  font-family: Oswald;
  color: #343535;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
}
.produit-link__content > a {
  color: #fff;
  font-size: 30px !important;
  /*font-weight: 700;*/
}
.produit-link__content > .produit-link__content__image {
  padding: 5px 5px 30px 5px !important;
}

.produit-saison-links {
  overflow: hidden;
  height: 50%;
  padding: 0 10% 0 0;
  background-color: #ed7f23;
}
@media screen and (max-width: 1200px) {
  .produit-saison-links {
    width: 50%;
    height: 100%;
    float: left;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .produit-saison-links {
    width: 100%;
  }
}
.produit-saison-links > h1 {
  text-align: center;
  color: #fff;
}

.liste-produits {
  width: 50%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: right;
  font: 400 14px/30px "Oswald", Arial, sans-serif;
}
.liste-produits > li {
  list-style: none;
  line-height: 30px;
}
.liste-produits > li > a {
  text-decoration: none;
  color: #fff;
}
.liste-produits > li > img {
  padding-left: 5%;
}
@media screen and (max-width: 1200px) {
  .liste-produits {
    text-align: center;
  }
}

.produit-gallerie {
  position: relative;
  max-height: 40%;
  overflow: hidden;
  min-height: 250px;
  max-height: 350px;
}
.produit-gallerie > img {
  width: 100%;
}
.produit-gallerie > .produit-gallerie__content {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 30%;
}
@media screen and (max-width: 480px) {
  .produit-gallerie > .produit-gallerie__content {
    font-size: 30px;
    top: 20%;
    left: 25%;
  }
}
.produit-gallerie > .produit-gallerie__content > h1 {
  font: 700 35px "Oswald", Arial, sans-serif;
  color: #fff;
  text-shadow: 1px 3px 0px #222222;
}
@media screen and (max-width: 480px) {
  .produit-gallerie > .produit-gallerie__content > h1 {
    font-size: 30px;
    top: 30%;
    left: 25%;
    width: 30%;
    line-height: 40px;
  }
}
@media screen and (max-width: 760px) {
  .produit-gallerie > .produit-gallerie__content > h1 {
    width: 100%;
    left: 5%;
  }
}
.produit-gallerie > .produit-gallerie__content > h1 > img {
  width: 45px;
}
@media screen and (max-width: 480px) {
  .produit-gallerie > .produit-gallerie__content > h1 > img {
    width: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .produit-gallerie > .produit-gallerie__content {
    left: 40%;
  }
}
@media screen and (max-width: 420px) {
  .produit-gallerie > .produit-gallerie__content {
    left: 30%;
  }
}

.produit-gallerie__logo {
  position: absolute;
  margin-left: 2%;
  top: 20%;
  width: 15%;
  max-width: 150px;
  float: left;
}
@media screen and (max-width: 768px) {
  .produit-gallerie__logo {
    display: none;
  }
}

.recette-gallerie__type {
  position: absolute;
  bottom: 6%;
  left: 2%;
  padding: 4px;
  color: #cc1111;
  text-transform: uppercase;
  font-weight: 700;
  background: #fff;
  border-radius: 20%;
}

.produit-gallerie__saison {
  position: absolute;
  bottom: 0;
  right: 5%;
  background: url("../img/saison.png") no-repeat;
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
  width: 150px;
  height: 150px;
}
.produit-gallerie__saison > span {
  top: 45%;
  left: 18%;
  position: absolute;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 1200px) {
  .produit-gallerie__saison {
    bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .produit-gallerie__saison {
    display: none;
  }
}

.produit-description {
  overflow: auto;
  width: 100%;
}

.produit-description__content {
  width: 35%;
  float: left;
  padding: 5% 15% 5% 15%;
  font: 300 18px Oswald;
}
@media screen and (max-width: 768px) {
  .produit-description__content {
    width: 100%;
    padding: 0;
  }
}

.produit-description__liste {
  width: 25%;
  float: left;
  padding: 0 10% 5% 0;
}
.produit-description__liste > h1 {
  color: #ed7f23;
  font: 700 25px Oswald;
}
.produit-description__liste > a > img {
  margin-top: 30px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .produit-description__liste {
    width: 100%;
    padding: 0;
  }
}

/* module produit (liste des produits)*/
.m-produits {
  /*background:  linear-gradient(to bottom, $bleuCiel, transparent);*/
  background: #ed7f23;
  height: 100%;
  overflow: auto;
}

.m-produits-list {
  overflow: auto;
  padding: 5% 33%;
}
.m-produits-list > ul {
  width: 50%;
  margin: auto;
  float: left;
  overflow: auto;
}
@media screen and (max-width: 768px) {
  .m-produits-list > ul {
    width: 75%;
    padding: 0;
  }
}
@media screen and (max-width: 490px) {
  .m-produits-list > ul {
    width: 100%;
    padding: 0;
  }
}
.m-produits-list > ul > span {
  font-weight: bold;
  display: block;
  padding-bottom: 10%;
}
.m-produits-list > ul > li {
  list-style: none;
  /*width: 50%;*/
  /*float: left;*/
  padding-bottom: 10%;
  line-height: 20px;
}
@media screen and (max-width: 490px) {
  .m-produits-list > ul > li {
    width: 100%;
  }
}
.m-produits-list > ul > li > a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 20px;
}
.m-produits-list > ul > li > a:hover {
  color: orangered;
}

.m-produits-list__title {
  font-size: 50px;
  font-family: Oswald;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10%;
  text-align: center;
}

.m-produits-pagination {
  width: 45%;
  margin: auto;
}
.m-produits-pagination > li > a {
  color: #fff;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 avr. 2016, 14:56:22
    Author     : carlos-ignis
*/
.recette-link {
  height: 50%;
}
@media screen and (max-width: 1200px) {
  .recette-link {
    width: 50%;
    height: 100%;
    float: left;
  }
}
@media screen and (max-width: 760px) {
  .recette-link {
    width: 100%;
  }
}

.recette-slider {
  margin: 0;
  padding: 0;
}

.recette-slider {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.recette-slider li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.recette-slider li:first-child {
  position: relative;
  display: block;
  float: left;
}

.recette-slider img {
  display: block;
  height: 100%;
  float: left;
  width: 100%;
  border: 0;
  /*height: 0;
      padding-bottom: 65.6%;
      overflow: hidden;*/
}

.recette-slider-image {
  /*height: 100%;*/
}
.recette-slider-image > img {
  min-height: 470px;
}

.recette-slider-image__content--orange {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(237, 127, 35, 0.75)), to(transparent));
  background: -webkit-linear-gradient(top, rgba(237, 127, 35, 0.75), transparent);
  background: linear-gradient(to bottom, rgba(237, 127, 35, 0.75), transparent);
}

.recette-slider-image__content--blue {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 153, 214, 0.75)), to(transparent));
  background: -webkit-linear-gradient(top, rgba(15, 153, 214, 0.75), transparent);
  background: linear-gradient(to bottom, rgba(15, 153, 214, 0.75), transparent);
}

.recette-slider-image__content {
  position: absolute;
  right: 0;
  padding-right: 7%;
  height: 40%;
  width: 100%;
  line-height: 0;
}
.recette-slider-image__content > .recette-slider-image__content__link {
  text-align: right;
  position: relative;
  width: 80%;
  float: right;
  top: 20%;
}
.recette-slider-image__content > .recette-slider-image__content__link > h1 {
  /*height: 5%;*/
  /*padding: 10% 15% 5% 0;*/
  padding: 0;
  padding-right: 30px;
  /*margin: 10% 15% 0 0;*/
  text-align: right;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  color: #343535;
}
.recette-slider-image__content > .recette-slider-image__content__link > a {
  padding: 0;
  margin: 0 1% 0 0;
  width: 100%;
  color: #fff;
  font-family: Oswald;
  font-size: 28px;
  text-decoration: none;
  line-height: 35px;
}
.recette-slider-image__content > .recette-slider-image__content__link > img {
  display: inline !important;
  width: auto !important;
  height: auto !important;
  float: none !important;
}

.recette-saison-links {
  overflow: hidden;
  height: 50%;
  padding: 0 10%;
  background-color: #0f99d6;
}
@media screen and (max-width: 1200px) {
  .recette-saison-links {
    width: 50%;
    height: 100%;
    float: left;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .recette-saison-links {
    width: 100%;
  }
}
.recette-saison-links > h1 {
  text-align: center;
  color: #fff;
}

.liste-recettes {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: right;
  font: 400 14px/30px "Oswald", Arial, sans-serif;
}
.liste-recettes > li {
  list-style: none;
  line-height: 30px;
}
.liste-recettes > li > a {
  text-decoration: none;
  color: #fff;
}
.liste-recettes > li > img {
  padding-left: 5%;
}
.liste-recettes > a {
  color: #666;
}
@media screen and (max-width: 1200px) {
  .liste-recettes {
    text-align: center;
  }
}

.recette-gallerie {
  position: relative;
  min-height: 250px;
  max-height: 350px;
  overflow: hidden;
}
.recette-gallerie > .recette-gallerie__degrade {
  position: absolute;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(transparent));
  background: -webkit-linear-gradient(bottom, #fff, transparent);
  background: linear-gradient(to top, #fff, transparent);
  height: 40%;
  bottom: 0;
}
.recette-gallerie > img {
  width: 100%;
}
.recette-gallerie > .recette-gallerie__content {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 60%;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .recette-gallerie > .recette-gallerie__content {
    font-size: 30px;
    top: 20%;
    left: 25%;
  }
}
@media screen and (max-width: 760px) {
  .recette-gallerie > .recette-gallerie__content {
    /*            width: auto;
                top: 10% !important;
                left: 5% !important;*/
  }
}
.recette-gallerie > .recette-gallerie__content > h1 {
  font: 700 35px "Oswald", Arial, sans-serif;
  color: #fff;
  text-shadow: 1px 3px 0px #222222;
}
@media screen and (max-width: 480px) {
  .recette-gallerie > .recette-gallerie__content > h1 {
    font-size: 30px;
    top: 30%;
    left: 25%;
    width: 30%;
    line-height: 40px;
  }
}
@media screen and (max-width: 760px) {
  .recette-gallerie > .recette-gallerie__content > h1 {
    width: 100%;
    left: 5%;
  }
}
.recette-gallerie > .recette-gallerie__content > h1 > img {
  width: 45px;
}
@media screen and (max-width: 480px) {
  .recette-gallerie > .recette-gallerie__content > h1 > img {
    width: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .recette-gallerie > .recette-gallerie__content {
    /*left: 40%;*/
  }
}
@media screen and (max-width: 420px) {
  .recette-gallerie > .recette-gallerie__content {
    left: 30%;
  }
}

.recette-gallerie__logo {
  position: absolute;
  margin-left: 2%;
  top: 20%;
  width: 15%;
  max-width: 150px;
  float: left;
}
@media screen and (max-width: 768px) {
  .recette-gallerie__logo {
    display: none;
  }
}

.recette-gallerie__saison {
  position: absolute;
  bottom: 0;
  right: 5%;
  background: url("../img/saison.png") no-repeat;
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
  width: 150px;
  height: 130px;
}
.recette-gallerie__saison > span {
  top: 50%;
  left: 18%;
  position: absolute;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
}
@media screen and (max-width: 1200px) {
  .recette-gallerie__saison {
    bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .recette-gallerie__saison {
    display: none;
  }
}

.recette-gallerie__type {
  position: absolute;
  bottom: 6%;
  left: 2%;
  padding: 4px;
  color: #cc1111;
  text-transform: uppercase;
  font-weight: 700;
  background: #fff;
  border-radius: 20%;
}

.recette-gallerie__items {
  width: 100%;
  position: absolute;
  bottom: 5%;
  left: 15%;
}
@media screen and (max-width: 768px) {
  .recette-gallerie__items {
    left: 0;
  }
}
@media screen and (max-width: 480px) {
  .recette-gallerie__items {
    position: relative;
    display: none;
  }
}
.recette-gallerie__items > .recette-gallerie__item {
  float: left;
  margin-right: 5%;
}
.recette-gallerie__items > .recette-gallerie__item > img {
  float: left;
  width: 40px;
  margin-right: 5px;
}
@media screen and (max-width: 768px) {
  .recette-gallerie__items > .recette-gallerie__item > img {
    width: 30px;
  }
}
.recette-gallerie__items > .recette-gallerie__item > span {
  font: 700 20px Oswald;
  color: #cc1111;
  display: block;
  float: left;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .recette-gallerie__items > .recette-gallerie__item > span {
    font: 20px;
  }
}

.recette-difficulte {
  overflow: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}
.recette-difficulte > li {
  float: left;
}

.recette-description {
  overflow: auto;
  width: 100%;
}

.recette-description__content {
  width: 35%;
  float: left;
  padding: 5% 15% 5% 15%;
  font: 300 18px Oswald;
}
@media screen and (max-width: 768px) {
  .recette-description__content {
    width: 100%;
    padding: 0;
  }
}

.recette-description__img {
  width: 25%;
  float: left;
  padding: 5% 10% 5% 0;
}
@media screen and (max-width: 768px) {
  .recette-description__img {
    width: 100%;
    padding: 0;
  }
}

.description__img__container {
  position: relative;
}

/* module produit (liste des produits)*/
.m-recettes {
  /*background:  linear-gradient(to bottom, $bleuCiel, transparent);*/
  background: #0f99d6;
  height: 100%;
  overflow: auto;
}

.m-recettes-list {
  overflow: auto;
  padding: 5% 20%;
}
.m-recettes-list > ul {
  width: 30%;
  margin: auto;
  padding-right: 3%;
  float: left;
}
@media screen and (max-width: 768px) {
  .m-recettes-list > ul {
    width: 75%;
    padding: 0;
  }
}
@media screen and (max-width: 490px) {
  .m-recettes-list > ul {
    width: 100%;
    padding: 0;
  }
}
.m-recettes-list > ul > span {
  font-weight: bold;
  display: block;
  padding-bottom: 10%;
}
.m-recettes-list > ul > li {
  list-style: none;
  /*            width: 50%;
              float: left;  */
  padding-bottom: 10%;
  line-height: 20px;
}
@media screen and (max-width: 490px) {
  .m-recettes-list > ul > li {
    width: 100%;
  }
}
.m-recettes-list > ul > li > a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 20px;
}
.m-recettes-list > ul > li > a:hover {
  color: #002a80;
}

.m-recettes-list__title {
  font-size: 50px;
  font-family: Oswald;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10%;
  text-align: center;
}

.m-recettes-pagination {
  width: 45%;
  margin: auto;
}
.m-recettes-pagination > li > a {
  color: #fff;
}

.modal-body {
  /*    position: relative;
      overflow-y: auto;*/
  max-height: none;
  /*padding: 15px;*/
}

@media screen and (max-width: 768px) {
  .zoom {
    display: none;
  }
}

/* 
    coin des enfants + adhérent
*/
.items_list {
  background: -webkit-gradient(linear, left top, left bottom, from(#49c3f9), to(transparent));
  background: -webkit-linear-gradient(top, #49c3f9, transparent);
  background: linear-gradient(to bottom, #49c3f9, transparent);
  height: 100%;
  overflow: auto;
}

.items_list__header {
  overflow: hidden;
  margin-top: 6%;
}

.items_list__image-france {
  margin-right: 1%;
  float: right;
}
@media screen and (max-width: 760px) {
  .items_list__image-france {
    display: none;
  }
}

.items_list__resume {
  color: #fff;
  overflow: auto;
  padding: 2% 10%;
  line-height: 25px;
}

.items_list__logo {
  margin-left: 2%;
  width: 15%;
  float: left;
}

.items_list__title {
  margin-top: 6%;
  font-size: 50px;
  font-family: Oswald;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 760px) {
  .items_list__title {
    font-size: 30px;
  }
}

.items_list__title--small {
  margin-top: 3%;
  font-size: 30px;
  font-family: Oswald;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 760px) {
  .items_list__title--small {
    font-size: 30px;
  }
}

.files-list {
  overflow: auto;
  padding: 0 15%;
}
@media screen and (max-width: 760px) {
  .files-list {
    padding: 0;
  }
}
.files-list > .file {
  margin: 1%;
  width: 23%;
  float: left;
  height: 200px;
  background: #fff;
  border-radius: 15px;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 760px) {
  .files-list > .file {
    width: 30%;
  }
}
@media screen and (max-width: 490px) {
  .files-list > .file {
    width: 48%;
  }
}
@media screen and (max-width: 320px) {
  .files-list > .file {
    width: 100%;
  }
}
.files-list > .file > .file__img {
  text-align: center;
  height: 100%;
  cursor: pointer;
}
.files-list > .file > .file__img > a > img {
  width: 140px;
}

/* Zoom In #1 */
.file__img a img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
}

.file__img:hover img {
  opacity: .5;
}

.file__img:hover:after {
  top: 5%;
  left: 16%;
  position: absolute;
  font-family: Oswald;
  color: #ed7f23;
  content: "Téléchargez l'image";
}

/* item list pour la page partner */
.files-list {
  overflow: auto;
  padding: 0 10% 10% 20%;
}
@media screen and (max-width: 760px) {
  .files-list {
    padding: 0;
  }
}
.files-list > .container-file {
  margin: 1% 1% 10% 1%;
  width: 30%;
  float: left;
}
@media screen and (max-width: 490px) {
  .files-list > .container-file {
    width: 48%;
  }
}
@media screen and (max-width: 320px) {
  .files-list > .container-file {
    width: 100%;
  }
}
.files-list > .container-file > h1 {
  text-align: center;
  font-size: 18px;
  font-family: Oswald;
  color: #fff;
  font-weight: 300;
  height: 50px;
}
.files-list > .container-file > span {
  margin: 1%;
  margin: 1%;
  display: block;
}
.files-list > .container-file > span > a {
  margin: 1%;
  color: #ed7f23;
}
.files-list > .container-file > .file--partner {
  /*height: 120px;*/
  background: #fff;
  border-radius: 15px;
  position: relative;
  text-align: center;
  /*            width: 300px;
              */
  /*max-height:150px;*/
  /*            height: 0;
              padding-bottom: 65%;*/
  overflow: hidden;
  /*            @media screen and(max-width:760px){
                  width: 30%;
              }
              @media screen and(max-width:490px){
                  width: 48%;
              }
              @media screen and(max-width:320px){
                  width: 100%;
              }*/
}
.files-list > .container-file > .file--partner > .file__img--partner {
  text-align: center;
  height: 100%;
  cursor: pointer;
}
.files-list > .container-file > .file--partner > .file__img--partner > a > img {
  width: 100%;
  height: 100%;
}
