/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 mai 2015, 11:16:12
    Author     : carlos-ignis
*/

.l-default{
    /*background: $blanc;*/
    height: 100%;
}
.l-default__left{
    width: 30%;
    height: 100%;
    float: left;
    @media screen and(max-width: 1200px){
        width: 100%;
        max-height: 400px;
    }
}
.l-default__right{
    overflow: auto;
    width: 70%;
    height: 100%;
    float: right;
    @media screen and(max-width: 1200px){
        width: 100%;
        height: auto;
        overflow: visible;
    }
}
.l-default__right--accueil{
    overflow: auto;
    width: 70%;
    height: 100%;
    float: right;
    background-image: url('../img/fond.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    @media screen and(max-width: 1200px){
        overflow: hidden;
        width: 100%;
        height: 80%;        
    }
    @media screen and(max-width: 760px){
        height: 60%;
        width: 100%;
    }
}

.accueil-title{
    line-height: 60px;
    margin-top: 10%;
    width: 60%;
    float: left;    
    @media screen and(max-width: 760px){
        padding: 0;
    }
    margin-top: 10%;
    & > h1{
        font-size: 50px;
        font-family: Oswald;
        color:  #ffffff;
        font-weight: 700;
        text-align: center;
        text-shadow: 2px 4px 20.58px rgba(35, 31, 32, 0.75);
        @media screen and(max-width: 1200px){
            font-size: 40px;
        }
        @media screen and(max-width: 768px){
            font-size: 40px;
        }
        @media screen and(max-width: 480px){
            font-size: 30px;
        }
    }
}

.accueil__title--top{
    width: 100%;
    margin: auto;

    @media screen and(max-width: 760px){
        width: 100%;
        text-align: center;
    }
}
.accueil__title--bottom{
    width: 100%;
    margin: auto;

    @media screen and(max-width: 760px){
        width: 100%;
        text-align: center;
    }
}
.accueil-logo{
    position: relative;
    margin-left: 1%;
    top: 10%;
    width: 20%;
    float: left;

    & > img{
        width: 90%; 
    }

}
.accueil-img{
    margin: auto;
    width: 50%;
    text-align: center;

    & > img{
        width: 100%;
        @media screen and(max-width: 1200px){
            width: 80%;
        }
    }
    @media screen and(max-width: 760px){
        width: 50%;
    }
}

.accueil-img-france{
    position: absolute;
    width: 15%;
    margin: 0;
    right: 0;
    top:10%;
}

.accueil-partenaires{
    overflow: auto;
    position: absolute;	
    width: 280px;
    bottom: 0;
    right: 0;

    background: #fff;

    & > ul{
        margin: 0;
        padding: 0;
        & > li{
            padding: 10px 10px;
            list-style: none;
            display: inline;
            float: left;
            & > a{				
                & > img{
                    height: 30px;
                }

            }
        }
    }
    @media screen and(max-width: 1200px){
        display:none;
    }
}
/* formulaire de contact */
#ContactContactForm{
    padding: 0 0 0 25%;
    @media screen and(max-width: 1200px){
        padding : 5%;
    }
}
/* module article */
.m-article{
    padding: 0;
    width: 70%;
    margin: auto;

    font-family: Oswald;
    font-weight: 300;
    color: $noirPure;

    font-size: 17px;
}
.mentions-link{
    overflow:hidden;
    position: absolute;
    bottom: 0;padding: 1%;
    @media screen and(max-width: 760px){
        position : relative;
    }
}