/* 
    coin des enfants + adhérent
*/
.items_list{
    background:  linear-gradient(to bottom, rgb(73, 195, 249), transparent);
    height: 100%;
    overflow: auto;    
}
.items_list__header{
    overflow: hidden;
    margin-top: 6%;
}
.items_list__image-france{
    margin-right: 1%;
    float: right;
    @media screen and(max-width:760px){
        display:none;
    }

}
.items_list__resume{
    color: #fff;
    overflow: auto;
    padding: 2% 10%;
    line-height: 25px;
}
.items_list__logo{
    margin-left: 2%;
    width: 15%;
    float: left;
}
.items_list__title{
    margin-top: 6%;
    font-size: 50px;
    font-family: Oswald;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    @media screen and(max-width:760px){
        font-size: 30px;
    }
}
.items_list__title--small{
    margin-top: 3%;
    font-size: 30px;
    font-family: Oswald;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    @media screen and(max-width:760px){
        font-size: 30px;
    }
}
.files-list{
    overflow: auto;    
    padding: 0 15%;
    @media screen and(max-width:760px){
        padding: 0;
    }
    & > .file{
        margin: 1%;      
        width: 23%;
        float: left;
        height: 200px;
        background: $blanc;
        border-radius: 15px;
        position:relative;
        text-align: center;
        @media screen and(max-width:760px){
            width: 30%;
        }
        @media screen and(max-width:490px){
            width: 48%;
        }
        @media screen and(max-width:320px){
            width: 100%;
        }
        & > .file__img{
            text-align: center;
            height:100%;
            cursor: pointer;
            & > a{
                & > img{
                    width: 140px;
                }
            }            
        }
    }    
}

/* Zoom In #1 */
.file__img a img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.file__img:hover img {
    opacity: .5;
}

.file__img:hover:after {
    top:5%;
    left:16%;
    position:absolute;

    font-family: Oswald;
    color: $orange;
    content: "Téléchargez l'image";
}

/* item list pour la page partner */

.files-list{
    overflow: auto;    
    padding: 0 10% 10% 20%;
    @media screen and(max-width:760px){
        padding: 0;
    }
    & > .container-file{
        margin: 1% 1% 10% 1%;      
        width: 30%;
        float: left;
        @media screen and(max-width:490px){
            width: 48%;
        }
        @media screen and(max-width:320px){
            width: 100%;
        }
        & > h1{
            text-align: center;
            font-size: 18px;
            font-family: Oswald;
            color: #fff;
            font-weight: 300;
            height: 50px
        }
        & > span{
            margin: 1%;
            margin: 1%;
            display: block;
            & > a{
                margin: 1%;
                color: $orange;
            }   
        }        
        & > .file--partner{
            /*height: 120px;*/            
            background: $blanc;
            border-radius: 15px;
            position:relative;
            text-align: center;
            
/*            width: 300px;
            */
            /*max-height:150px;*/

/*            height: 0;
            padding-bottom: 65%;*/
            overflow: hidden;

            /*            @media screen and(max-width:760px){
                            width: 30%;
                        }
                        @media screen and(max-width:490px){
                            width: 48%;
                        }
                        @media screen and(max-width:320px){
                            width: 100%;
                        }*/

            & > .file__img--partner{
                text-align: center;
                height:100%;
                cursor: pointer;
                & > a{
                    & > img{
                        width: 100%;
                        height: 100%;
                    }
                }            
            }
        }   
    }
}