/* Menu */
header[role="banner"] {
    /*margin-bottom: 38px;*/
}
nav[role="navigation"] {
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 3%;
    right: 1%;
    z-index: 100000;
    @media screen and(max-width: 960px){
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        background: $bleu;
    }
}
nav[role="navigation"] ul {
    margin: 0;
    padding: 0;
    @media screen and(max-width: 960px){
        width: 100%;
    }
}
nav[role="navigation"] .main > li {
    position: relative;
    list-style: none;
    /*display: inline;*/
    float: left;
    @media screen and(max-width: 960px){
        width: 100%;
        /*text-align: center;*/
    }
}
nav[role="navigation"] .main > li > a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 16px;

    color: #888;
    font-size: .9125em;
    text-decoration: none;
    @media screen and(max-width: 960px){
        color: $blanc;
    }
}
nav[role="navigation"] .main > li > a:hover, nav[role="navigation"] .main > li > a.active {
    /*background-color: #aaa;*/
    color: $noirPure;
}
nav[role="navigation"] ul.main ul {
    display: none;
}
nav[role="navigation"] ul.main > li:hover > ul {
    z-index: 100;
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 0;
}
nav[role="navigation"] li li {
    border-bottom: 1px solid #ddd;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav[role="navigation"] li li a {
    display: inline-block;
    width: 275px;
    height: 50px;
    padding: 0 20px;
    line-height: 50px;

    font-size: .875em;
    text-decoration: none;
    background: #eee;
}
nav[role="navigation"] li li a:hover {
    color: #fff;
    background-color: #aaa;
}

/* responsive */
.menu-button-container{
    @media screen and(max-width: 960px){
        display:none !important;
    }
}
.menu-button-container-small{
    display:none !important;
    @media screen and(max-width: 960px){
        display:block !important;
    }
}

.menu-item{
    @media screen and(max-width: 960px){
        display:none;
    }
}