/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 avr. 2016, 14:56:12
    Author     : carlos-ignis
*/

.produit-link{
    height: 50%;
    overflow: auto;
    @media screen and(max-width: 1200px){
        width: 50%;
        height: 100%;
        float: left;
    }
    @media screen and(max-width: 760px){
        width: 100%;
    }
    & > .produit-link__content{
        /*padding: 10% 5% 10% 10%;*/
        padding-top: 25px;
        height: 40%;
        overflow: hidden;

        line-height: 0;
        text-align: right;

        background: linear-gradient(to bottom, rgba(237, 127, 35, 0.75), transparent);
        & > h1{
            /*padding: 0;*/
            /*margin: 10% 19% 0 0;*/

            font-family: Oswald;
            font-size: 16px;
            color: #343535;
        }
        & > a{
            padding: 0;
            margin: 0 1% 0 0;

            color: $blanc;
            font-family: Oswald;
            font-size: 32px;
            text-decoration: none;
        }
        & > img{
            /*width: 90%;*/
            margin: 0 5% 1% 0;
        }
    }
}

.produit-link__content{
    & > h1{
        margin-right: 12%;

        font-family: Oswald;
        color:  #343535;
        font-size: 18px;
        font-weight: 400;
        text-align: right;
    }
    & > a{
        color:  $blanc;
        font-size: 30px !important;
        /*font-weight: 700;*/
    }
    & > .produit-link__content__image{
        padding: 5px 5px 30px 5px !important; 
    }
}

//page produit
.produit-saison-links{
    @media screen and(max-width: 1200px){
        width: 50%;
        height: 100%;
        float: left;
        padding: 0;
    }
    @media screen and(max-width: 768px){
        width: 100%;
    }
    & > h1{
        text-align: center;
        color: $blanc;
    }
    overflow: hidden;
    height: 50%;
    padding: 0 10% 0 0;
    background-color: $orange;
}
.liste-produits{
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;

    text-align: right;
    font: 400 14px / 30px $font-texte;	

    & > li{
        list-style: none;
        line-height: 30px;
        & > a{
            text-decoration: none;
            color: $blanc;
        }
        & > img{
            padding-left: 5%;
        }
    }
    @media screen and(max-width: 1200px){
        text-align: center;
    }
}
.produit-gallerie{
    position: relative;
    max-height: 40%;
    overflow: hidden;
    min-height: 250px;
    max-height: 350px;
    & > img{
        width: 100%;		
    }
    & > .produit-gallerie__content{
        position: absolute;	
        top: 25%;
        left: 35%;
        width: 30%;
        @media screen and(max-width: 480px){
            font-size: 30px;
            top: 20%;
            left: 25%;
        }
        & > h1{		
            font: 700 35px $font-texte;				
            color: $blanc;
            text-shadow: 1px 3px 0px #222222;
            @media screen and(max-width: 480px){				
                font-size: 30px;
                top: 30%;
                left: 25%;
                width: 30%;

                line-height: 40px;
            }
            @media screen and(max-width: 760px){
                width: 100%;
                left: 5%;
            }
            & > img{
                width: 45px;
                @media screen and(max-width: 480px){
                    width: 30px;
                }
            }
        }
        @media screen and(max-width: 1200px){
            left: 40%;
        }
        @media screen and(max-width: 420px){
            left: 30%;
        }
    }	
}
.produit-gallerie__logo{
    position: absolute;
    margin-left: 2%;
    top: 20%;
    width: 15%;
    max-width: 150px;
    float: left;
    @media screen and(max-width: 768px){
        display: none;
    }
}
.recette-gallerie__type{
    position: absolute;
    bottom: 6%;
    left: 2%;
    padding: 4px;

    color: $rouge;
    text-transform: uppercase;
    font-weight: 700;

    background: #fff;
    border-radius: 20%;
}
.produit-gallerie__saison{
    position: absolute;
    bottom: 0;
    right: 5%;
    background: url("../img/saison.png") no-repeat;
    background-size: 100% auto;
    width: 150px;
    height: 150px;
    & > span{
        top: 45%;
        left: 18%;
        position: absolute;
        color: $blanc;
        font-size: 14px;
    }
    @media screen and(max-width: 1200px){
        bottom: 0;
    }
    @media screen and(max-width: 768px){
        display: none;
    }
}
.produit-description{
    overflow: auto;
    width: 100%;
}
.produit-description__content{
    width: 35%;
    float: left;
    padding: 5% 15% 5% 15%;
    font: 300 18px Oswald;
    @media screen and(max-width: 768px){
        width: 100%;
        padding: 0;
    }
}
.produit-description__liste{
    width: 25%;
    float: left;
    padding: 0 10% 5% 0;

    & > h1{
        color: $orange;
        font: 700 25px Oswald;
    }

    & > a{
        & > img{
            margin-top: 30px;
            margin-bottom: 10px;
        }
    }

    @media screen and(max-width: 768px){
        width: 100%;
        padding: 0;
    }
}

/* module produit (liste des produits)*/
.m-produits{
    /*background:  linear-gradient(to bottom, $bleuCiel, transparent);*/
    background:  $orange;
    height: 100%;
    overflow: auto;
}
.m-produits-list{
    overflow: auto;
    padding: 5% 33%;    
    & > ul{      
        width: 50%;
        margin: auto;
        float: left;
        overflow:auto;
        @media screen and(max-width: 768px){
            width: 75%;
            padding: 0;
        }
        @media screen and(max-width: 490px){
            width: 100%;
            padding: 0;
        }
        & > span{
            font-weight: bold;
            display: block;
            padding-bottom: 10%;
        }
        & > li{            
            list-style: none;
            /*width: 50%;*/
            /*float: left;*/  
            padding-bottom: 10%;
            line-height: 20px;
            @media screen and(max-width: 490px){
                width: 100%;
            }
            & > a{
                text-decoration: none;
                color: #fff;
                font-weight: 300;
                font-size: 20px;
            }
            & > a:hover{
                color: orangered;
            }
        }
    }
}

.m-produits-list__title{    
    font-size: 50px;
    font-family: Oswald;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10%;;
    text-align: center;    
}

.m-produits-pagination{
    width: 45%;
    margin: auto;
    & > li{
        & > a{
            color: $blanc;	
        }
    }
}