/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 avr. 2016, 14:56:22
    Author     : carlos-ignis
*/

.recette-link{
    height: 50%;
    @media screen and(max-width: 1200px){
        width: 50%;
        height: 100%;
        float: left;
    }
    @media screen and(max-width: 760px){
        width: 100%;
    }
}


//slider recette 
.recette-slider{
    margin: 0;
    padding: 0;
}


.recette-slider {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.recette-slider li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.recette-slider li:first-child {
    position: relative;
    display: block;
    float: left;
}

.recette-slider img {
    display: block;
    height: 100%;
    float: left;
    width: 100%;
    border: 0;
    /*height: 0;
        padding-bottom: 65.6%;
        overflow: hidden;*/
}

.recette-slider-image{
    /*height: 100%;*/   
    & > img{
        min-height: 470px;
    }
}
.recette-slider-image__content--orange{
    background: linear-gradient(to bottom, rgba(237, 127, 35, 0.75), transparent);
}
.recette-slider-image__content--blue{
    background: linear-gradient(to bottom, rgba(15, 153, 214, 0.75), transparent);
}
.recette-slider-image__content{
    position: absolute;
    right: 0;
    padding-right: 7%;
    height: 40%;
    width: 100%;   

    line-height: 0;

    & > .recette-slider-image__content__link{
        text-align: right;
        position: relative;
        width: 80%;
        float: right;
        top: 20%;
        & > h1{
            /*height: 5%;*/
            /*padding: 10% 15% 5% 0;*/
            padding: 0;
            padding-right: 30px;	
            /*margin: 10% 15% 0 0;*/
            text-align: right;
            font-family: Oswald;
            font-size: 16px;
            font-weight: 400;
            color: #343535;
        }
        & > a{
            padding: 0;
            margin: 0 1% 0 0;
            width: 100%;

            color: $blanc;
            font-family: Oswald;
            font-size: 30px;
            text-decoration: none;
            line-height: 35px;
        }
        & > img{
            display: inline !important;
            width: auto !important;
            height: auto !important;
            float: none !important;

        }
    }
}
//page recette
.recette-saison-links{
    @media screen and(max-width: 1200px){
        width: 50%;
        height: 100%;
        float: left;
        padding: 0;
    }
    @media screen and(max-width: 768px){
        width: 100%;
    }
    & > h1{
        text-align: center;
        color: $blanc;
    }
    overflow: hidden;
    height: 50%;
    padding: 0 10%;
    background-color: $bleu;
}
.liste-recettes{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;

    text-align: right;
    font: 400 14px / 30px $font-texte;	

    & > li{
        list-style: none;
        line-height: 30px;
        & > a{
            text-decoration: none;
            color: $blanc;
        }
        & > img{
            padding-left: 5%;
        }
    }
    & > a{
        color: #666;
    }
    @media screen and(max-width: 1200px){
        text-align: center;
    }
}
.recette-gallerie{
    position: relative;
    min-height: 250px;
    max-height: 350px;
    overflow: hidden;
    & > .recette-gallerie__degrade{
        position: absolute;
        width: 100%;
        background: linear-gradient(to top, #fff, transparent);
        height: 40%;
        bottom: 0;
    }
    & > img{
        width: 100%;		
    }
    & > .recette-gallerie__content{
        position: absolute;	
        top: 25%;
        left: 25%;
        width: 60%;
        text-align: center;
        @media screen and(max-width: 480px){
            font-size: 30px;
            top: 20%;
            left: 25%;            
        }
        @media screen and(max-width: 760px){
/*            width: auto;
            top: 10% !important;
            left: 5% !important;*/
        }
        & > h1{		
            font: 700 35px $font-texte;				
            color: $blanc;
            text-shadow: 1px 3px 0px #222222;
            @media screen and(max-width: 480px){				
                font-size: 30px;
                top: 30%;
                left: 25%;
                width: 30%;

                line-height: 40px;
            }
            @media screen and(max-width: 760px){
                width: 100%;
                left: 5%;
            }
            & > img{
                width: 45px;
                @media screen and(max-width: 480px){
                    width: 30px;
                }
            }
        }
        @media screen and(max-width: 1200px){
            /*left: 40%;*/
        }
        @media screen and(max-width: 420px){
            left: 30%;
        }
    }	
}
.recette-gallerie__logo{
    position: absolute;
    margin-left: 2%;
    top: 20%;
    width: 15%;
    max-width: 150px;
    float: left;
    @media screen and(max-width: 768px){
        display: none;
    }
}
.recette-gallerie__saison{
    position: absolute;
    bottom: 0;
    right: 5%;
    background: url("../img/saison.png") no-repeat;
    background-size: 100% auto;
    width: 150px;
    height: 130px;
    & > span{
        top: 50%;
        left: 18%;
        position: absolute;
        color: $blanc;
        font-size: 13px;
        font-weight: 700;
    }
    @media screen and(max-width: 1200px){
        bottom: 0;
    }
    @media screen and(max-width: 768px){
        display: none;
    }
}
.recette-gallerie__type{
    position: absolute;
    bottom: 6%;
    left: 2%;
    padding: 4px;

    color: $rouge;
    text-transform: uppercase;
    font-weight: 700;

    background: #fff;
    border-radius: 20%;
}
.recette-gallerie__items{
    width: 100%;
    position: absolute;
    bottom: 5%;
    left: 15%;
    @media screen and(max-width: 768px){
        left: 0;
    }
    @media screen and(max-width: 480px){
        position: relative;
        display:none;
    }
    & > .recette-gallerie__item{
        float: left;
        margin-right: 5%;
        & > img{
            float: left;
            width: 40px;
            margin-right: 5px;
            @media screen and(max-width: 768px){
                width: 30px;
            }

        }
        & > span{
            font: 700 20px Oswald;
            color: $rouge;
            display: block;
            float: left;
            margin-top: 5px;
            @media screen and(max-width: 768px){
                font: 20px;
            }
        }
    }
}
.recette-difficulte{
    overflow: auto;
    list-style-type:none;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    & > li{
        float:left;
    }
}
.recette-description{
    overflow: auto;
    width: 100%;
}
.recette-description__content{
    width: 35%;
    float: left;
    padding: 5% 15% 5% 15%;
    font: 300 18px Oswald;
    @media screen and(max-width: 768px){
        width: 100%;
        padding: 0;
    }
}
.recette-description__img{
    width: 25%;
    float: left;
    padding: 5% 10% 5% 0;
    @media screen and(max-width: 768px){
        width: 100%;
        padding: 0;
    }
}
.description__img__container{
    position: relative;
}

/* module produit (liste des produits)*/

.m-recettes{
    /*background:  linear-gradient(to bottom, $bleuCiel, transparent);*/
    background:  $bleuCiel;
    height: 100%;
    overflow: auto;
}
.m-recettes-list{
    overflow: auto;
    padding: 5% 20%;   
    & > ul{      
        width: 30%;
        margin: auto;
        padding-right: 3%;
        float: left;
        @media screen and(max-width: 768px){
            width: 75%;
            padding: 0;
        }
        @media screen and(max-width: 490px){
            width: 100%;
            padding: 0;
        }
        & > span{
            font-weight: bold;
            display: block;
            padding-bottom: 10%;
        }
        & > li{            
            list-style: none;
            /*            width: 50%;
                        float: left;  */
            padding-bottom: 10%;
            line-height: 20px;
            @media screen and(max-width: 490px){
                width: 100%;
            }
            & > a{
                text-decoration: none;
                color: #fff;
                font-weight: 300;
                font-size: 20px;
            }
            & > a:hover{
                color: #002a80;
            }
        }
    }
}

.m-recettes-list__title{    
    font-size: 50px;
    font-family: Oswald;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10%;;
    text-align: center;    
}

.m-recettes-pagination{
    width: 45%;
    margin: auto;
    & > li{
        & > a{
            color: $blanc;	
        }
    }
}